<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questions&Answers</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href={{ url_for('static', filename='style.css')}}>
</head>
<body>
    <nav class="navbar navbar-expand-lg p-5 shadow-md justify-content-between">
        <div>
            <a href="/" class="navbar-brand">Questions&Answers</a>
        </div>
        <div>
            <a href="/questions" class="btn btn-primary">Questions</a>
        </div>
    </nav>
    <div class="container p-5">
        {% block content %}
        {% endblock %}
    </div>
    <footer>Copyright &copy; 2022</footer>
</body>
</html>